---
import responsive from './utils/responsive'

const { blok } = Astro.props
const { html, css, javascript } = blok

const template = `
<style>
${css}
</style>
${html}
<script type="module">
${javascript}
</script>
`
---

<div
	class={blok.component}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	set:html={template}
	style={responsive(blok)}
>
</div>
