---
import Slot from './Slot.astro'
import responsive from './utils/responsive'

const { blok } = Astro.props
const classList = [blok.component, blok.style].join(' ')
---

<div
	class={classList}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	style={responsive(blok)}
>
	<button class="Dialog_trigger">
		<Slot bloks={blok.trigger} />
	</button>
	<dialog>
		<h2>{blok.heading}</h2>
		<div class="Dialog_content">
			<Slot bloks={blok.content} />
		</div>
		<form method="dialog">
			<Slot bloks={blok.secondary_action} />
			<button style="--button: var(--primary);" value="close">
				<span class="Button">
					<span class="text">
						{blok.close_button_text}
					</span>
				</span>
			</button>
		</form>
	</dialog>
</div>

<script>
	import { lock, unlock } from 'tua-body-scroll-lock'

	document.querySelectorAll('.Dialog').forEach((el) => {
		const trigger = el.querySelector('.Dialog_trigger')
		const dialog = el.querySelector('dialog')

		trigger.addEventListener('click', () => {
			lock(dialog)
			dialog.showModal()
		})

		dialog.addEventListener('close', () => {
			unlock(dialog)
		})
	})
</script>

<style lang="scss" is:global>
	.Dialog {
		button {
			background: none;
			border: none;
			display: block;
			padding: 0;
		}
		.Dialog_trigger {
			cursor: pointer;
			width: 100%;
		}
		dialog {
			animation: 0.25s ease 0s 1 normal none running dialog;
			background: var(--surface);
			border-radius: 4px;
			border: 1px solid rgb(204, 204, 204);
			box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px,
				rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
			color: var(--on-surface);
			height: max-content;
			max-height: 80vh;
			max-width: 560px;
			outline: none;
			overflow: auto;
			padding: 0px;
			position: fixed;
			width: 90vw;

			h2 {
				font-size: 20px;
				line-height: 2;
				margin: 0;
				padding: 16px 20px;
			}

			.Dialog_content {
				border-bottom: 1px solid var(--surface-border);
				border-top: 1px solid var(--surface-border);
				overflow-y: auto;
				padding: 0 20px 24px;
			}

			form[method='dialog'] {
				display: flex;
				justify-content: flex-end;
				padding: 8px;
			}
		}
	}
</style>
