---
import Slot from './Slot.astro'
import responsive from './utils/responsive'

const { blok } = Astro.props
const classList = [blok.component, blok.subgrid ? 'grid' : ''].join(' ')

const inline = [blok.responsive ? responsive(blok) : '', blok.custom_css].join(
	' '
)
---

<div
	class={classList}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	style={inline}
>
	<Slot bloks={blok.content} />
</div>

<style lang="scss" is:global>
	.Group {
		display: flex;
		flex-flow: row wrap;
		height: max-content;
		&:not(.grid) > *:not(.Button) {
			width: 100%;
		}
	}
</style>
