---
import responsive from './utils/responsive'

const { blok } = Astro.props
const inline = [`--aspect-ratio: ${blok.aspect_ratio};`, responsive(blok)].join(
	' '
)

const mapSrc = [
	'https://maps.google.com/maps?q=',
	encodeURI(blok.location),
	blok.satellite ? '&t=k' : '',
	'&z=' + blok.zoom_level,
	'&ie=UTF8&output=embed',
].join('')

const imgSrc = () => {
	const locations = blok.location.split('\n').join('|')
	const center =
		!locations.includes('|') && blok.hide_pins ? 'center' : 'markers'
	const [hor, vert] = blok.aspect_ratio.split('/')
	const height = Math.round((600 * vert) / hor)
	return [
		'https://maps.googleapis.com/maps/api/staticmap?',
		`${center}=${locations}`,
		blok.satellite ? '&maptype=satellite' : '',
		`&size=600x${height}`,
		'&zoom=' + blok.zoom_level,
		'&key=AIzaSyCxqAHXuQxKJh84FPydDkFcXyA2x7wIZVA',
	].join('')
}
---

<div
	class={blok.component}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	data-src={blok.embed || mapSrc}
	style={inline}
>
	<iframe class="Map_embed" frameborder="0" style="display: none"> </iframe>
	<img class="Map_static" src={imgSrc()} alt={'Map of ' + blok.location} />
	<button class="Map_overlay">Tap/Click to Load</button>
</div>

<script>
	document.querySelectorAll('.Map').forEach((map) => {
		const embed = map.querySelector('.Map_embed')
		const img = map.querySelector('.Map_static')
		const overlay = map.querySelector('.Map_overlay')

		overlay.addEventListener('click', () => {
			embed.src = map.dataset.src
			embed.style.display = 'block'
			img.remove()
			overlay.remove()
		})
	})
</script>

<style lang="scss" is:global>
	.Map {
		aspect-ratio: var(--aspect-ratio);
		display: grid;
		overflow: hidden;

		> * {
			aspect-ratio: var(--aspect-ratio);
			grid-area: 1/-1;
			height: 100%;
			width: 100%;
		}

		&_static {
			display: block;
			object-fit: cover;
			width: 100%;
		}

		&_overlay {
			backdrop-filter: blur(10px);
			background: rgba(0, 0, 0, 0.33);
			border: none;
			border-radius: 0;
			color: white;
			cursor: pointer;
			font-size: 24px;
			z-index: 1;
		}
	}
</style>
