---
import responsive from './utils/responsive'

const { blok } = Astro.props
const inline = [`aspect-ratio: ${blok.aspect_ratio};`, responsive(blok)].join(
	' '
)
---

<div
	class={blok.component}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	style={inline}
>
	{
		!blok.youtube_video_id ? (
			<video
				autoplay={blok.autoplay}
				controls={blok.controls}
				loop={blok.loop}
				muted={blok.mute}
				playsinline={blok.plays_inline}
				poster={blok.video_poster?.filename + '/m/'}
				preload="auto"
			>
				{blok.video_files.map((src) => (
					<source src={src?.filename} />
				))}
			</video>
		) : (
			<youtube-lite vid={blok.youtube_video_id} />
		)
	}
</div>

<script>
	import './elements/youtube.js'
</script>

<style is:global>
	.Video {
		border: 1px solid var(--surface-border);
		box-sizing: border-box;
	}
</style>
