---
import responsive from './utils/responsive'

const { blok } = Astro.props
const inline = [`aspect-ratio: ${blok.aspect_ratio};`, responsive(blok)].join(
	' '
)
---

<div
	class={blok.component}
	data-blok-c={blok.c}
	data-blok-uid={blok.uid}
	style={inline}
>
	{
		!blok.youtube_video_id ? (
			<video
				autoplay={blok.autoplay}
				controls={blok.controls}
				loop={blok.loop}
				muted={blok.mute}
				playsinline={blok.plays_inline}
				poster={blok.video_poster?.filename + '/m/'}
				preload="auto"
			>
				{blok.video_files.map((src) => (
					<source src={src?.filename} />
				))}
			</video>
		) : (
			<button
				aria-label="Play Video"
				class="Video_yt_button"
				data-src={`https://www.youtube.com/embed/${blok.youtube_video_id}?autoplay=1`}
				style={`background-image: url(https://img.youtube.com/vi/${blok.youtube_video_id}/hqdefault.jpg)`}
			>
				<svg class="Video_yt_button_icon" version="1.1" viewBox="0 0 68 48">
					<path
						class="Video_yt_button_icon_bg"
						d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z"
					/>
					<path class="Video_yt_button_icon_fg" d="M 45,24 27,14 27,34" />
				</svg>
			</button>
			<iframe
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
				frameborder="0"
				style="display: none"
				title="YouTube video player"
			></iframe>
		)
	}
</div>

<script>
	document.querySelectorAll('.Video').forEach((vid) => {
		const button = vid.querySelector('.Video_button')
		const frame = vid.querySelector('.Video_frame')

		overlay.addEventListener('click', () => {
			frame.src = button.dataset.src
			frame.style.display = 'block'
			button.remove()
		})
	})
</script>

<style lang="scss" is:global>
	.Video {
		box-shadow: 0 0 0 1px var(--surface-border);
		box-sizing: border-box;
		&_yt_button,
		&_yt_button_frame {
			height: 100%;
			width: 100%;
		}
		&_yt_button {
			align-items: center;
			background-position: center center;
			background-size: cover;
			border: none;
			cursor: pointer;
			display: flex;
			justify-content: center;
			padding: 0;

			&_icon {
				display: block;
				width: 68px;
				&_bg {
					fill: rgba(33, 33, 33, 0.8);
				}
				&_fg {
					fill: #fff;
				}
			}
			&:hover {
				.Video_yt_button_icon_bg {
					fill: #f00;
				}
			}
		}
	}
</style>
